    /* Root styling */
    
* {
        /* Page fortmating */
    margin: 0;
    padding: 0;
    box-sizing:border-box;
        /* Set Page Font */
    font-family: 'Roboto', sans-serif;
}
/* Header Styling */
header{
    /* makes the navbar larger in width and fixes the postion*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    /* Color for nav */
    background: #11141a;
    /* Navbar formatting */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    /* makes navbar larger */
    font-size: 25px;
    /* gives color to the active link */
    color: #fff;
     /*makes is so no line is under the text  */
    text-decoration: none;
    /* make the font more bold */
    font-weight: 600;
}
nav a{
    /* make the font bigger */
    font-size: 18px;
    color: #fff;
    /* makes it so there is no line under the words */
    text-decoration: none;
    font-weight: 500;
    /* makes the links closer together */
    margin-left: 35px;
    transition: .3s;
}
nav a:hover, 
nav a.active{
    color: #0ef;
}

/* h1 */
h1{
    font-size: 36px;
    margin-left: 20px;
}
p{
    font-size: 36px;
}

section{
    /* makes it where pages will be */
    min-height: 100vh;
    display: flex;
    /* centers where the words are */
    align-items: center;
    /* changes the color of the page */
    background: #1f242d;
    /* makes the pages font larger */
    font-size: 100px;
    color: #fff;
    /* makes it bolder */
    font-weight: 700;
    width: 100%;

}
section:nth-child(odd){
    /* makes the aound me and profolio page a lighter color*/
background: #323946;
}

/* Sidebar */
/* .sidebar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
} */

/* Line */
.box {
    background-color: #000;
    width: 10px;
    height: 250px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}
.img{
    width: auto;
    height: 50%;
    position: absolute;
    bottom: 0;
    margin-left: 260px;
    margin-bottom: 200px;
}
.home{
    display: flex;
    flex-direction: column;
}
.pannels{
display: flex;
flex-wrap: wrap ;
color: #000;
font-size: 36px;
}
.panel1{
    background-color: #ffffff;
    width: 500px;
    height: 250px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}
.panel2{
    background-color: #fff;
    width: 500px;
    height: 250px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}
.panel3{
    background-color: #fff;
    width: 500px;
    height: 250px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}